<html>
    <head>
        <title>Room Booking - Login</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <script type="text/javascript" src="/static/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/static/include.js"></script>
        <script type="text/javascript">

$(document).ready(function(){

    $('#login > input').keyup(function(){validateForm('#login')})

    $('#login').submit(function(e){
        e.preventDefault();
        $.ajax({
            type:       "POST",
            url:        "/api/authenticate",
            contentType:    "application/json",
            data:       formJSON($(this).serializeArray()),
            success:    function(response){
                if(!response['authenticated']){
                  alert(response['reason']);
                }else{
			            window.location.replace(response['redirect']);
                }
            }
        });
    });
});

        </script>
    </head>
    <body>
        <div class="login box">
            <h2>Welcome. Please Log in: </h2>
            <form id="login">
                <input type="text" placeholder="Username or Email Address" name="email"/>
                <input type="password" placeholder="Password" name="password"/>
                <input type="submit" value="Log in" disabled="disabled" />
            </form>
            <a href="/register">Sign Up</a>
        </div>
    </body>
</html>
