<html>
    <head>
        <title>Room Booking - Login</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <script type="text/javascript" src="/static/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/static/include.js"></script>
        <script type="text/javascript">

$(document).ready(function(){
  // Ensure all fields are filled before submit
  var validation = function(){ensurePasswordsMatch('#register', '#p1', '#p2'); validateForm('#register');};
  $('#register').change(validation);
  $('#register > input').keyup(validation);

  $('#register').submit(function(e){
      e.preventDefault();
      $.ajax({
          type:       "POST",
          contentType:"application/json",
          data:       formJSON($(this).serializeArray()),
          success:    function(response){}
      });
  });

});

    </script>
    </head>
    <body>
        <div class="login box">
            <h2>Welcome. Please register:</h2>

            <form id="register">

			           <select name="title">
    			             <option value="">--Title--</option>
   			               <option value="Dr">Dr</option>
   			               <option value="Miss">Miss</option>
   			               <option value="Mr">Mr</option>
    			             <option value="Mrs">Mrs</option>
    			             <option value="Ms">Ms</option>
			           </select>

		            <input type="text" placeholder="Surname" name="surname"/>

			          <select name="department">
      	            <option value="">--Departments--</option>
     		            <option value="maths">Maths</option>
             		    <option value="english">English</option>
          			    <option value="science">Science</option>
              	    <option value="art">Art</option>
              	    <option value="bict">BICT</option>
          			    <option value="modernLanguages">Modern languages</option>
             		    <option value="socialSubects">Social subjects</option>
          			    <option value="rmps">RMPS</option>
              	    <option value="designAndTech">Design and Tech</option>
              	    <option value="drama">Drama</option>
			         </select>

                <input type="text" placeholder="Email address" name="email"/>
                <input type="password" placeholder="Password" name="password" id="p1" />
		            <input type="password" placeholder="Confirm password" id="p2" />

                <input type="submit" value="Register" disabled="disabled" />
            </form>
        </div>
    </body>
</html>
