<html>
    <head>
        <title>Room Booking - Login</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />

    </head>
    <body>
        <div class="box" id="loginbox">
            <h2>Welcome. Please register:</h2>
            <form id="register">	

			<select id="title">
    			<option value="">--Title--</option>
   			<option value="Dr">Dr</option>
   			<option value="Miss">Miss</option>
   			<option value="Mr">Mr</option>
    			<option value="Mrs">Mrs</option>
    			<option value="Ms">Ms</option>
			</select>


		<input type="text" placeholder="Surname" name="surname" id="surname"/>
			<select id="department">
    			<option value="">--Departments--</option>
   			<option value="dog">Maths</option>
   			<option value="cat">English</option>
			<option value="hamster">Science</option>
    			<option value="parrot">Art</option>
    			<option value="spider">BICT</option>
			<option value="dog">Modern languages</option>
   			<option value="cat">Social subjects</option>
			<option value="hamster">RMPS</option>
    			<option value="parrot">Design and tech</option>
    			<option value="spider"><Drama/option>

			</select>
	



                <input type="text" placeholder="Email address" name="email" id="lemail" />
                <input type="password" placeholder="Password" name="password" id="lpassword" />
		<input type="password" placeholder="Confirm password" id="lpassword2" />
			

                <input type="submit" value="Register" id="lsubmit" disabled="disabled" />
            </form>
        </div>
    </body>
</html>
